body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#characterList {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}
.characterCard{
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}
.characterCard img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
#characterDetails {
    margin-top: 20px;
    border: 1px solid green;
}